body {
  margin: 0 auto;
  color: #fff;
  background: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*Page Colours*/
.solid-litGry {
  background-color: #d9d9d9;
}
.solid-DrkCyn {
  background-color: #0a9bac;
}
.solid-LitCyn {
  background-color: #02c7db;
}
.solid-Orng {
  background-color: #f89918;
}
.solid-Grn {
  background-color: #009966;
}
.linear-pink {
  background-image: linear-gradient(to left, #e13660, #7b1e34);
}

/*Text*/
.text-center {
  text-align: center !important;
  align-content: space-evenly;
}

.tab-text {
  position: absolute;
}

/*Header*/
button{
  border:#fff;
}

.header-btn{
 color: white;
}

.header-main {
  position: absolute;
  display: flex;
  width: 100%;
  color: #fff;
  z-index: 0;
}

.header-title {
  position: absolute;
  padding: 0;
  height: 100px;
  top: 0;
  left: 0;
  width: 30%;
  z-index: 10;
  border-bottom-right-radius: 100px;
}


.header-tab {
  cursor: pointer;

  position: absolute;
  width: 200px;
  height: 100px;

  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
}


}


  border-radius: 100%;
  padding: 0;
}

.pfp-background-mn {
  border-radius: 50%;
  background: #000000;
  box-shadow: -10px -10px 14px #3f514b, 10px 10px 14px #3f514b;
  animation: 3s infinite alternate rotate;
  height: 125px;
  width: 125px;
  position: absolute;
  z-index: -1;
}

/*Rotates shadow for profile picture*/
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(15deg) scale(1);
  }
  50% {
    transform: rotate(-180deg) scale(1);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}


/*Page Title*/
.title {
  text-align: center;
  margin: 25px auto;
  padding: 20px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.home {
  background-color: #0a9bac;

}

.about {
  background-color: #02c7db;
}

.links{
  background-color: #f89918;
}

.projects {
  background-color: #009966;
}



/*Page Content*/
.main-body{
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  gap: 8px;
}


/*W.I.P*/
.temporary-text{
  background-color: #d9d9d9;
  text-align: center;
  color: #000;
}